@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');
@import "reset.css";
@import "variables.css";

@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";

@import "screens/login.css";
@import "screens/friends.css";

body {
    color: #2E363E;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

